* {
    box-sizing: border-box;
    --black: #231E1E;
}


body {
    background-color: #ffffff;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: var(--black);
}

header {
    width: 100%;
    padding: 0 0 20px 0;
    margin-top: 24px;
    background-color: rgb(255, 255, 255);
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
}

.navItems{
  display: flex;
  margin-left: 90px;
}

.navItem{
  display: block;
  margin: 0 15px;
  text-decoration: none;
}

.navbarContactButton{
  padding: 14px 40px;
  background-color: #DAC2F2;
  border: none;
  border-radius: 99px;
}

.navbarMainContent{
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.hero{
  width: 100%;
}

.hero-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

#LoadingScreen{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}

#LoadingScreen p{
    color: white;
}

.testimonial-wrapper{
  background-color: #231E1E;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0 ;
}

.author {
  color: #989898;
  font-family: Inter;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
  font-weight: Regular;
  padding: 30px 0;
}

.testimonials-text{
  color: #F1F0F0;
  font-family: Inter;
  font-size: 24px;
  line-height: 40px;
  width: 948px;
  text-align: left;
}

.testimonial-content{

}